* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color:green;
    --hover-color: red;
    --button-color: blue;
    --card-color: yellow;
    --header-color: orange;
    --text-color: black;
    --font-styles: sans-serif;
    --text-spacing: 10px;
}

body{
    background-color: var(--background-color);
}

header{
    position: sticky;
    top: 0;
    background-color: var(--header-color);
    z-index: 100;
    transition: background-color 0.5s ease-in-out;
}

header:hover{
    background-color: var(--hover-color);
}

.hovering:hover{
    background-color: var(--hover-color);
}

h1{
    color: var(--text-color);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

nav a{
    color: var(--text-color);
    text-decoration: none;
}

header p{
    text-align: center;
    font-family: cursive, sans-serif;
    font-size: large;
    font-weight: bold;
}

.service-card-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 20px;
}

.service-card-list__item{
    background-color: var(--card-color);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
    height: 250px;
    width: 300px;
    text-align: center;
    overflow: auto;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    text-align: center;
    font-family: var(--font-styles)
}

.yadaSpeech{
    font-family: var(--font-styles);
    margin-top: var(--text-spacing);
    margin-bottom: var(--text-spacing);
}

button {
    background-color: var(--button-color);
    transition: background-color 0.3s ease-in-out;
}

button:hover{
    background-color: var(--hover-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer p{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@media (max-width: 768px) {
    
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .service-card-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-card-list__item {
        background-color: var(--card-color);
        transition: background-color 0.3s  ease-in-out;
    }

    .service-card-list__item:hover {
        background-color: var(--hover-color);
    }

    header {
        background-color: var(--header-color);
        transition: background-color 0.3s ease-in-out;
    }

    header:hover {
        background-color: var(--hover-color);
    }


}
