* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:paleturquoise;
}

header{
    position: sticky;
    top: 0;
    background-color: rgb(237, 246, 51);
    z-index: 100;
    transition: background-color 0.5s ease-in-out;
}

header:hover{
    background-color: chocolate;
}

.hovering:hover{
    background-color: cornflowerblue;
}

h1{
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

nav a{
    color: green;
    text-decoration: none;
}

header p{
    text-align: center;
    font-family: cursive, sans-serif;
    font-size: large;
    font-weight: bold;
}

.cardContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 20px;
}

.cardContainers{
    background-color: brown;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
    height: 250px;
    width: 300px;
    text-align: center;
    overflow: auto;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    text-align: center;
    font-family: cursive, Arial, Helvetica, sans-serif;
}

.yadaSpeech{
    background-color: rgba(130, 144, 63, 0.444);
    font-family: cursive;
}


